<%= form_with(model: compost, local: true) do |form| %>
<% if compost.errors.any? %>
<div id="error_explanation">
  <h2>Petit problème :</h2>
  <ul>
    <% compost.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<section id="cover">
  <div id="cover-caption">
    <div id="container" class="container">
      <div class="row text-white ">
        <div class="col-sm-6 offset-sm-3 text-center">
          <br>
          <br><br>
          <div class="info-form">
            <div class="form-group">
              <div class="input-group-prepend faw">
                <%= form.text_field :title, class:"form-control", placeholder:raw("&#xf035;  Titre (obligatoire, 3 - 30 caractères)")  %>
              </div> <br>
              <div class="input-group-prepend faw">
                <%= form.text_area :description, class:"form-control", placeholder:raw("&#xf039;  Description (obligatoire, max 160 caractères)") %>
              </div><br>
              <div class="input-group-prepend faw">
                <%= form.text_field :address, class:"form-control", placeholder:raw("&#xf041;  Adresse (obligatoire, 3-50 caractères)")  %>
              </div><br>
              <div class="input-group-prepend faw">
                <%= form.text_field :zipcode, class:"form-control", placeholder:raw("&#xf041;  Code postal parisien (obligatoire)") %>
              </div><br>


              <div class="input-group-prepend faw my-2">
                <%= form.label :agrumes, class:'text-dark mr-2' %>
                <%= form.check_box(:composition_list, {:multiple => true}, "agrumes", nil) %>

                <%= form.label :bananes, class:'text-dark mx-2' %>
                <%= form.check_box(:composition_list, {:multiple => true}, "bananes", nil) %>
              </div>

              <div class="input-group-prepend faw my-2">
                <%= form.label :bio, class:'text-dark mr-2' %>
                <%= form.check_box(:composition_list, {:multiple => true}, "bio", nil) %>

                <%= form.label :coquilles, class:'text-dark mx-2' %>
                <%= form.check_box(:composition_list, {:multiple => true}, "coquilles", nil) %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group-prepend faw my-2">
                <h6 class="text-dark mr-2">Choisir une photo :</h6>
                <%= form.file_field :picture %>
              </div>

              <div class="input-group-prepend faw my-2">
                <%= form.label :"Ouvrir le compost aux contributions", class: "text-dark mr-2 h6" %>
                <%= form.check_box :is_open %>
              </div>

              <div class="input-group-prepend faw my-2">
                <%= form.label :Remplissage, class: "text-dark mr-2 h6" %>
                <%= form.number_field :filling, class:"number-field" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="actions center">
        <%= form.submit 'Valider les informations', class:"btn btn-primary"%>
      </div>
    </div>
  </div>

  <% end %>