<% if resource.errors.any? %>
  <div id="error_explanation" class="text-left mb-3">
    <h2>Petit problème :</h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
