<%= form_with(model: user, local: true) do |form| %>
<% if user.errors.any? %>
  <div id="error_explanation" class="text-left">
    <h2>Petit problème :</h2>
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div class="row mb-2 mt-4">
    <div class="col-sm-6 offset-sm-3">
      <div class="field">
        <%= form.text_field :firstname, class: "form-control mb-3", placeholder:raw("&#xf007;  Prénom") %>
      </div>
      <div class="field">
        <%= form.text_field :lastname, class: "form-control mb-3", placeholder:raw("&#xf007;  Nom") %>
      </div>
      <div class="field">
        <%= form.text_field :username, class: "form-control mb-3", placeholder:raw("&#xf007;  Pseudo") %>
      </div>
      <div class="field">
        <%= form.text_area :description, class: "form-control mb-3", placeholder:raw("&#xf303;  Description") %>
      </div>
      <div class="field">
        <%= form.text_field :email, class: "form-control mb-3", placeholder:raw("&#xf0E0;  Email") %>
      </div>
      <div class="field">
        <%= form.text_field :address, class: "form-control mb-3", placeholder:raw("&#xf041;  Adresse") %>
      </div>
      <div class="field">
        <%= form.text_field :zipcode, class: "form-control mb-3", placeholder:raw("&#xf041;  Code postal") %>
      </div>
      <div class="field">
        <%= form.text_field :city, class: "form-control mb-3", placeholder:raw("&#xf041;  Ville") %>
      </div>
      <div class="field">
        <%= form.text_field :country, class: "form-control mb-3", placeholder:raw("&#xf041;  Pays") %>
      </div>
      <div class="faw my-2">
        <h6 class="mr-2">Choisir votre avatar :</h6>
        <%= form.file_field :avatar %>
      </div>
      <div class="actions mt-3">
        <button class="btn btn-primary mb-3">Modifier</button>
      </div>
    </div>
  </div>
<% end %>
