<% content_for :title, "OkCompost / Profil" %>
<div class="container text-center">
	<h1 class="mt-4 mb-5">Editer votre profil</h1>

	<%= render 'form', user: @user %>

	<%= link_to 'Retour', @user, class:"btn btn-link" %>
</div>
