<% content_for :title, "422 - entité intraitable" %>
<div class='container-fluid px-0'>
  <div class="jumbotron-fluid jumbotron-error text-center pt-5">
    <h1 class="text-white display-2 font-weight-bolder my-5">Erreur 422</h1>
    <p class="h1 text-white font-weight-bolder my-5">Le serveur a bien compris ce que vous vouliez faire, mais il ne peut pas. L'entité fournie avec la requête est incompréhensible ou incomplète. Nous non plus on n'a pas bien compris cette phrase, ne vous inquiétez pas...</p>
    <hr class="my-4 border border-white">
    <p class="text-light h2 font-weight-bolder mb-5">Il n'y a pas que des épluchures sur cette photo. Composter c'est bien, mais n'oubliez pas les autres déchets...</p>
    <%= link_to "Retour à l'accueil", root_path, class: 'btn btn-lg btn-info' %>
  </div>
</div>
