<% content_for :title, "500 - erreur serveur" %>
<div class='container-fluid px-0'>
  <div class="jumbotron-fluid jumbotron-error text-center pt-5">
    <h1 class="text-white display-2 font-weight-bolder my-5">Erreur 500</h1>
    <p class="h1 text-white font-weight-bolder my-5">Votre requête a causé une erreur serveur. Bravo, j'imagine que vous êtes fièr·e de vous. Maintenant qui va devoir chercher la cause de cette erreur dans des kilomètres de logs illisibles ? Eh oui, c'est encore Bibi. Franchement, merci...</p>
    <hr class="my-4 border border-white">
    <p class="text-light h2 font-weight-bolder mb-5">Il n'y a pas que des épluchures sur cette photo. Composter c'est bien, mais n'oubliez pas les autres déchets...</p>
    <%= link_to "Retour à l'accueil", root_path, class: 'btn btn-lg btn-info' %>
  </div>
</div>
