<% content_for :title, "503 - service indisponible" %>
<div class='container-fluid px-0'>
  <div class="jumbotron-fluid jumbotron-error text-center pt-5">
    <h1 class="text-white display-2 font-weight-bolder my-5">Erreur 503</h1>
    <p class="h1 text-white font-weight-bolder my-5">Le site est temporairement indisponible. Soit pour cause de mainentance, soit parce qu'on commence à être moins débile et qu'on arrête de faire tourner tous les sites tout le temps. Bon, j'y crois pas trop à la deuxième...</p>
    <hr class="my-4 border border-white">
    <p class="text-light h2 font-weight-bolder mb-5">Il n'y a pas que des épluchures sur cette photo. Composter c'est bien, mais n'oubliez pas les autres déchets...</p>
    <%= link_to "Retour à l'accueil", root_path, class: 'btn btn-lg btn-info' %>
  </div>
</div>
