footer,.link_to,.btn-primary {
  color: #fff;
  background-color: #ADCE4B;
  border-color: #ADCE4B;
}

.btn-primary:hover {
  color: #fff;
  background-color: #96B340;
  border-color: #96B340;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #96B340;
  border-color: #96B340;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(81, 117, 154, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(81, 117, 154, 0.5);
}

.badge-primary {
  background-color: #ADCE4B;
}

.border-primary {
  border-color: #ADCE4B !important;
}

.progress-bar {
  color: #ADCE4B;
  background-color: #ADCE4B;
}

.alert-primary, .alert-primary > th, .alert-primary > td {
  background-color: #ADCE4B;
}

.bg-light {
  background-color: #FFF !important;
}

.bg-success {
  background-color: #ADCE4B !important;
}

.jumbotron {
  background: url(asset-path('vegetables.jpg'));
	background-size: cover;
	background-position: center;
    position:relative;
    min-width:100%;
    height:100%;
    min-height: 90vh;
}

#jumbotron-title {
	color: white;
}

#jumbotron-row {
	height: 100%;
	align-items: center;
}

.jumbotron-row {
  height: 100%;
  align-items: center;
}

.logo {
  height: 100%;
}

.navbar {
  height: 10vh;
}

.form-control:focus {
  border-color: #ADCE4B;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(150, 179, 64, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(150, 179, 64, 0.25);
}

.form-control-welcome {
  display: inline;
  width: 50%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control-welcome:focus {
  border-color: #ADCE4B;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(150, 179, 64, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(150, 179, 64, 0.25);
  color: #495057;
  background-color: #fff;
  outline: 0;
}

.btn-link {
  color: #8E8C84;
}

.btn-link:hover {
  color: #3E3F3A;
  text-decoration: none;
}

.input-group-text {
  background-color: #FFF;
}

.form-control {
  font-family: 'FontAwesome';
}

.center {
  text-align: center;
}

.number-field {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.navbar-collapse {
  z-index: 1;
  left: 0;
  float: left;
  min-width: 10rem;
  padding: 0.5rem;
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  color: #3E3F3A;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: table;
  width: 100%;
}

.h3-up {
  text-transform: uppercase;
  text-align: center;
}

.img-tag {
  height: 200px;
  width:100%;
}

.title_registration {
  color: black;
}

.search-card {
  max-width: 20rem;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ADCE4B;
  color: #FFF;
}

.footer-copyright {
  color: #F8F5F0;
  font-size: 12px;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.team > .row {
  padding-top: 25px;
  margin-bottom: 10px;
}

.banner {
	background-image: url(asset-path('vegetables.jpg'));
	background-size: cover;
	background-position: center;
    position:relative;
    min-width:100%;
    height:20vh;
}

.banner-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

#text1 {
  width: 50%;
  height: 300px;
  float: left;
  margin-top: 60px;
  padding-right: 50px;
}

.tm {
  border: 0px solid;
  overflow: hidden;
}

hr {
  margin-left:250px;
  margin-right:250px;
}

.long {
  margin-left:100px;
  margin-right:100px;
}

#result-page {
  height: 600px;
}

#search-results {
  height: 100%;
  overflow: scroll;
}

#result-map {
  width: 600px;
  height: 100%;
}

.fa-bell {
  color: #d9534f;
}

.field_with_errors {
  width: 100%;
}

.field_with_errors > .form-control {
  border-color: #ED8374;
}

.field_with_errors > .form-control:focus {
  border-color: #ED8374;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 131, 116, 0.93);
          box-shadow: 0 0 0 0.2rem rgba(237, 131, 116, 0.93);
}

#error_explanation {
  width: 450px;
  border: 2px solid #ED8374;
  border-radius: 10px;
  padding: 15px 7px 0 15px;
  margin : auto;
  margin-top: 20px;
  background-color: #EDDAD7;
}

.about-picture {
  height: 15rem;
  width: 15rem
}

.card-about {
  min-width: 350px;
}

#result-cont {
  margin-left: 20px;
}

.small-jumbotron {
  background: url(asset-path('vegetables.jpg'));
  background-size: cover;
  background-position: center;
    position:relative;
    min-width:100%;
    height:100%;
    min-height: 40vh;
}

#small-jumbotron {
  background: url(asset-path('vegetables.jpg'));
  background-size: cover;
  background-position: center;
    position:relative;
    min-width:100%;
    height:100%;
    min-height: 25vh;
}

#small-jumbotron-title {
  padding-top: 6vh;
  color: white;
}

#small-jumbotron-title-faq {
  padding-top: 6vh;
  color: white;
}

#small-jumbotron-faq {
  background: url(asset-path('vegetables.jpg'));
  background-size: cover;
  background-position: center;
    position:relative;
    min-width:100%;
    height:100%;
    min-height: 25vh;
}

.small-jumbotron-title {
  padding-top: 7vh;
  color: white;
}

.progress-bar-vertical {
  width: 150px;
  min-height: 50px;
  display: flex;
  align-items: flex-end;
  margin-right : 40px ;
  margin-bottom: 20px ;
  float: right;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.jumbotron-error {
  background-image: url(asset-path('error_pages.jpg'));
	background-size: cover;
	background-position: center;
    position:relative;
    min-width:100%;
    height:90vh;
}
