<nav class="navbar navbar-expand-lg navbar-light bg-light border sticky-top">

  <!-- Logo -->

  <%= image_tag 'care.png', class: "logo"%>

  <!-- Root link -->

  <%= link_to "Ok Compost", root_path, class: "text nav-link mx-2" %>

  <!-- Hamburger button -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Composts link -->
    <%= link_to 'Créer un nouveau compost', new_compost_path, class: "text nav-link" %>
    <% if current_user && current_user.owned_composts.size > 0 %>
      <div class="btn-group">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mes composts
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% current_user.owned_composts.each do |compost| %>
            <% if compost.id != nil %>
              <%= link_to compost.title, compost_path(compost), class: "dropdown-item" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- Static pages link-->

    <%= link_to 'Faq', page_path('faq'), class: "text nav-link" %>

    <!-- Notification for unread messages -->

    <% if @conversations != nil && @unread_conversations.length != 0 %>
      <%= link_to user_path(current_user.id), class: "btn btn-link" do %>
        <span><%= @unread_conversations.length %></span>
        <i class="fas fa-envelope"></i>
      <% end %>
    <% end %>

    <!-- Dropdown menu for log in and Co-->

    <ul class="navbar-nav mr-auto">
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <% if user_signed_in? %>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mon profil
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mon profil", user_path(current_user.id), class: "dropdown-item" %>
            <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        <% else %>
          <%= link_to "Me connecter", new_user_session_path, class: "btn btn-primary mr-2" %>
          <%= link_to "M'inscrire", new_user_registration_path, class: "btn btn-info" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
